### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml

### Gradle ###
!gradle/wrapper/gradle-wrapper.jar
.gradle
build/

### Mac OS ###
.DS_Store

### Others
.env

### Rust
kata-others/kata-rust/target

### John the Ripper
hacksession.log
hacksession.rec

### working direcotry - just temp files
challenge_work/
